<h2>Your Games</h2>
<% if flash.has?(:success_login) %>
  <p><%= flash[:success_login] %></p>
<% end %>
<% if @user.games.empty? %>
  <p>You do not have any games listed yet!</p>
  <p>Click the link below to create a new game.</p>
<% else %>
  <% @user.games.each do |game| %>
    <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
    <p>Genre: <%= game.genre %></p>
    <p>System: <%= game.system %></p>
    <p><%= game.reason %></p>
  <% end %>
<% end %>