<h2>All Games</h2>

<% @games.each do |game| %>
  <h3><a href="/games/<%= game.id %>"><%= game.name %></a></h3>
  <p>System: <%= game.system %> Genre: <%= game.genre %></p>
  <p>Reason for listing:</p>
  <p><%= game.reason %></p>
<% end %>